@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

html{
  body{
    font-family: 'Readex Pro', sans-serif;
    font-size: 16px;
  }
  
  h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    color: inherit;
  }
  
  h1{
    font-size: 48.83px
  }
  
  h2{
    font-size: 39.06px;
  }
  
  h3{
    font-size: 31.25px;
  }
  
  h4{
    font-size: 25.00px;
  }
  
  h5{
    font-size: 20.00px;
  }
  
  h6{
    font-size: 16px;
  }
  
  
  h1,h2,h3,h4,h5,h6,p,ul,li.a,p{
    padding: 0;
    margin: 0;
  }
  
  .c-pointer{
    cursor: pointer;
  }
  
  #__next{
    height: 100%;
    overflow: scroll;
  }
  
  main{
    min-height: 100%;
  }
  
  .danger{
    color: red;
  }
}